*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --FondoPrincipal:#030C1A;
    --FondoSecundario:#0D1117;
    --ColorBotonesDeAccionDorado:#C9A227;
    --ColorBotonesDeAccionGris:#2A2A2A;
    --ColorCards:#3c3c3c39;
    --ColorLetra:#FFFFFF;
    --AlturaSeciones:100vh;
    --AnchoSeciones:90%;
    --AlturaCardsCategorias:80%;
    --AnchoCardsCategorias:100%;
    --AlturaCardsRestaurantes:25%;
    --AnchoCardsRestaurantes:100%;
}

.container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--FondoSecundario);
    align-items: center;
    gap: 76px;
    height: 100%;
    width: 100%;
}

.secciones{
    height: var(--AlturaSeciones);
    width: var(--AnchoSeciones);
    background-color: var(--FondoPrincipal);
}

.menu i{
    color: white;
    font-size: 2rem;
}

.menu{
    position: fixed;
}
/* secion de categorias de restaurantes */
.titulo-seccion-restaurante{
    width: 100%;
    background-color: yellowgreen;
}
.cards{
    position: relative;
    height: var(--AlturaCardsCategorias);
    width: var(--AnchoCardsCategorias);
    background-color: var(--ColorCards);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "titulo-recomendaciones titulo-recomendaciones titulo-recomendaciones"
    "recomendaciones recomendaciones2 recomendaciones3"
    ;
}

.titulo-recomendaciones{
    grid-area: titulo-recomendaciones;
}
.recomendaciones{
    grid-area: recomendaciones;
}
.recomendaciones:nth-child(2){
    grid-area: recomendaciones2;
}
.recomendaciones:nth-child(3){
    grid-area: recomendaciones3;
}

.tipos-de-restaurantes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-areas: 
    "tituloSeccion tituloSeccion tituloSeccion"
    "comida-rapida comida-rapida comida-rapida"
    "lujo lujo lujo"
    "casual casual casual"
    ;
}

.titulo-seccion-restaurante{
    grid-area: tituloSeccion;
    align-self: center;
    text-align: center;
}

.comida-rapida{
/* 
    background-color: red; */
    grid-area: comida-rapida;
}
.lujo{

    /* background-color: red; */
    grid-area: lujo;
}
.casual{
    /* background-color: red; */
    grid-area: casual;
}

.target-tipos-de-restaurantes{
    background-color: blueviolet;
    height: 70%;
    width: 150%;
    /* position: absolute; */
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
}
.target-tipos-de-restaurantes:nth-child(2){
    position: absolute;
    z-index: 10px;
    background-color: aqua;
    margin-bottom: 60px;
}
.restaurantes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.restaurantes .cards{
    /* display: inline-block; */
    height: var(--AlturaCardsRestaurantes);
    width: var(--AnchoCardsRestaurantes);
    background-color: red;
}
/* ___________________________________________________________ */
/* ___________________________________________________________ */



