*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Paleta De Colores */
    --FondoPrincipal:#030C1A;
    --FondoSecundario:#0D1117;
    --ColorBotonesDeAccionDorado:#C9A227;
    --ColorBotonesDeAccionGris:#2A2A2A;
    --ColorCards:#3c3c3c39;
    --ColorLetra:#FFFFFF;

    /* Fuente De Letra */
    --Fuente-General:"Cinzel Decorative", serif;

    /* TamañoSecciones */
    --AlturaSeciones:100vh;
    --AnchoSeciones:90%;

    /* Tamaño Cards Categorias */
    --AlturaCardsCategorias:80%;
    --AnchoCardsCategorias:100%;


    /* Tamaño Cards Restaurantes */
    --AlturaCardsRestaurantes:25%;
    --AnchoCardsRestaurantes:90%;

    /* Separacion De Secciones */
    --SeparacionSecciones: 40px;

    /* Tamaños Container */
    --AltoContainer:100%;
    --AnchoContainer:100%;

    /* Tamaños Cards Categorias en Tablets */
    --AlturaCardsCategoriasTablets:90%;

    /* Tamaño Letra */
    /* Mobile */
    --TamañoLetraMobile:1rem;
    /* Tablet */
    --TamañoLetraTablet:1.6rem;
}
/* ________________________________________ */
/* ________________________________________ */
/*                  Mobile                  */
/* ________________________________________ */
/* ________________________________________ */
.container{
    font-size: var(--TamañoLetraMobile);
    overflow-y: auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--FondoSecundario);
    align-items: center;
    gap: var(--SeparacionSecciones);
    height: var(--AltoContainer);
    width: var(--AnchoContainer);
}

.secciones{
    height: var(--AlturaSeciones);
    width: var(--AnchoSeciones);
    background-color: var(--FondoPrincipal);
    position: relative;
}

.menu i{
    color: white;
    font-size: 2rem;
}

.menu{
    position: fixed;
    z-index: 11;
}
/* secion de categorias de restaurantes */
.titulo-seccion-restaurante,.titulo-seccion-mercados,.titulo-seccion-mascotas{
    width: 100%;
    color: var(--ColorLetra);
    font-family: var(--Fuente-General);
    /* background-color: yellowgreen; */
}
.cards{
    position: relative;
    height: var(--AlturaCardsCategorias);
    width: var(--AnchoCardsCategorias);
    background-color: var(--ColorCards);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "titulo-recomendaciones titulo-recomendaciones titulo-recomendaciones"
    "recomendaciones recomendaciones2 recomendaciones3"
    ;
}

.titulo-recomendaciones{
    grid-area: titulo-recomendaciones;
    color: var(--ColorLetra);
    font-family: var(--Fuente-General);
    font-weight: lighter;
}
.recomendaciones{
    grid-area: recomendaciones;
}
.recomendaciones:nth-child(2){
    grid-area: recomendaciones2;
}
.recomendaciones:nth-child(3){
    grid-area: recomendaciones3;
}

.tipos-de-restaurantes,.tipos-de-mercados,.tipos-de-productos-mascotas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-areas: 
    "tituloSeccion tituloSeccion tituloSeccion"
    "comida-rapida comida-rapida comida-rapida"
    "lujo lujo lujo"
    "casual casual casual"
    ;
}

.titulo-seccion-restaurante,.titulo-seccion-mercados,.titulo-seccion-mascotas{
    grid-area: tituloSeccion;
    align-self: center;
    text-align: center;
}

.comida-rapida,.mercados-compra-venta,.Comida-mascotas{
    /*background-color: red; */
    grid-area: comida-rapida;
    color: var(--ColorLetra);
    font-family: var(--Fuente-General);
}
.lujo,.tecnologico,.Cuidado{
    /* background-color: red; */
    grid-area: lujo;
    color: var(--ColorLetra);
    font-family: var(--Fuente-General);
}
.casual,.mecanico,.Accesorios{
    /* background-color: red; */
    grid-area: casual;
    color: var(--ColorLetra);
    font-family: var(--Fuente-General);
}
.casual h2,.mecanico h2,.Accesorios h2,.lujo h2,.tecnologico h2,.Cuidado h2,.comida-rapida h2,.mercados-compra-venta h2,.Comida-mascotas h2{
    margin-left: 5%;
}

.target-tipos-de-restaurantes,.target-tipos-de-mercados,.target-tipos-de-productos-mascotas{
    background-color: blueviolet;
    height: 70%;
    width: 150%;
    /* position: absolute; */
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
}
.target-tipos-de-restaurantes:nth-child(2),.target-tipos-de-mercados:nth-child(2),.target-tipos-de-productos-mascotas:nth-child(2){
    position: absolute;
    z-index: 10;
    background-color: aqua;
    margin-bottom: 60px;
}
.restaurantes,.mercados,.mascotas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.restaurantes .cards,.mercados .cards,.mascotas .cards{
    /* display: inline-block; */
    height: var(--AlturaCardsRestaurantes);
    width: var(--AnchoCardsRestaurantes);
    align-self: center;
    background-color: red;
}
/* ___________________________________________________________ */
/* ___________________________________________________________ */



/* ___________________________________________________________ */
/* ___________________________________________________________ */
/*                          Tablet                             */
/* ___________________________________________________________ */
/* ___________________________________________________________ */

@media(min-width:768px){
    .target-tipos-de-restaurantes,.target-tipos-de-mercados,.target-tipos-de-productos-mascotas{
    height: 90%;
    }
    .cards{
        height: var(--AlturaCardsCategoriasTablets);
    }
}