
# Carpetas de construcción (Lo que causa tus errores)
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/

# Archivos de configuración de IDE
/nbproject/private/
.classpath
.project
.settings/
*.class

# Archivos de sistema
.DS_Store
Thumbs.db
