:root{
    /* Paleta De Colores */
    --FondoPrincipal:#030C1A;
    --FondoSecundario:#0D1117;
    --ColorBotonesDeAccionDorado:#C9A227;
    --ColorBotonesDeAccionGris:#2A2A2A;
    --ColorBotonesDeAccionGrisHover:#0f0f0f;
    --ColorCards:#3c3c3c39;
    --ColorLetra:#FFFFFF;

    /* margen entre secciones */
    --margenEntreSecciones:15%;

    /* Fuente De Letra */
    --Fuente-General:"Cinzel Decorative", serif;

    /* TamañoSecciones */
    --AlturaSeciones:100vh;
    --AnchoSeciones:90%;

    /* Tamaño Cards Categorias */
    --AlturaCardsCategorias:80%;
    --AnchoCardsCategorias:100%;


    /* Tamaño Cards Restaurantes */
    --AlturaCardsRestaurantes:25%;
    --AnchoCardsRestaurantes:90%;

    /* Separacion De Secciones */
    --SeparacionSecciones: 40px;

    /* Tamaños Container */
    --AltoContainer:100%;
    --AnchoContainer:100%;

    /* Tamaños Cards Categorias en Tablets */
    --AlturaCardsCategoriasTablets:90%;

    /* Tamaño Letra */
    /* Mobile */
    --TamañoLetraMobile:1rem;
    /* Tablet */
    --TamañoLetraTablet:1.5rem;
}