@import url("../customProperties/CustomProperties.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Fuente-General);
}

/* ________________________________________ */
/* ________________________________________ */
/*                  Mobile                  */
/* ________________________________________ */
/* ________________________________________ */

html{
    scroll-behavior: smooth;
}


.Dekstop{
    display: none;
}
.movil-tablet{
    font-size: var(--TamañoLetraMobile);
    overflow-y: auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--FondoPrincipal);
    align-items: center;
    gap: var(--SeparacionSecciones);
    height: 100vh;
}
/* ____________________________________________________________ */
/* ____________________________________________________________ */
/*                            HEADER                            */
/* ____________________________________________________________ */
/* ____________________________________________________________ */
.headerMovile{
    width: 100vw;
    height: 7vh;
    background-color: var(--FondoSecundario);
    border-bottom: 1px solid var(--ColorBotonesDeAccionDorado);
}
.navegacionMovil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 35%;
}
.contenedorMenuHamburguesa_y_Titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
}
.burgerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 25%;
}
.titulo{
    height: 50%;
    width: 70%;
    color: var(--ColorBotonesDeAccionDorado);
    font-size: 0.6rem;
}
.filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 10%;
}
.bx-menu,.bx-menu-filter{
    color: var(--ColorBotonesDeAccionDorado);
    font-size: 1.5rem;
}
/* ____________________________________________________________ */
/* ____________________________________________________________ */
/*                            SEARCH                           */
/* ____________________________________________________________ */
/* ____________________________________________________________ */
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 95vw;
    height: 5vh;
    justify-self: center;
}
.input-search{
    height: 100%;
    width: 90%;
    background-color: var(--ColorBotonesDeAccionGris);
    border: 1px var(--ColorBotonesDeAccionDorado) solid;
    border-radius: 5px;
    padding-left: 10px;
    color: var(--ColorLetra);
}
.input-search::placeholder{
    filter: drop-shadow(1px 0px 0px var(--ColorLetra));
}
.input-search:focus{
    outline: none;
}
.boton-search{
    height: 100%;
    width: 10%;
    background-color: var(--ColorBotonesDeAccionGris);
    border: 1px var(--ColorBotonesDeAccionDorado) solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.boton-search:hover{
    background-color: var(--ColorBotonesDeAccionDorado);
    box-shadow: var(--ColorBotonesDeAccionDorado) 0 0 10px;
}
.bx-search-big{
    color: var(--ColorBotonesDeAccionDorado);
    font-size: 1.3rem;
}

/* ____________________________________________________________ */
/* ____________________________________________________________ */
/*                       Recomendados                           */
/* ____________________________________________________________ */
/* ____________________________________________________________ */

.recomended{
    display: flex;
    height: 15vh;
    width: 100vw;
    gap: 10px;
    overflow-y: auto;
    padding: 0 10px;
}

.recomendedCards{
    height: 100%;
    min-width: 40%;
    border: 1px solid var(--ColorBotonesDeAccionDorado);
}

/* ____________________________________________________________ */
/* ____________________________________________________________ */
/*                         Etiquetas                            */
/* ____________________________________________________________ */
/* ____________________________________________________________ */




.etiquetas{
    display: flex;
    gap: 10px;
    height: 4vh;
    width: 100vw;
}
.etiquetasFiltros{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--FondoPrincipal);
    height: 100%;
    width: 25%;
    background-color: var(--ColorBotonesDeAccionDorado);
    border-radius: 0 50px 50px 0;
    corner-right-shape: bevel;
    margin-left: 10px;
}
/* ___________________________________________________________ */
/* ___________________________________________________________ */



/* ___________________________________________________________ */
/* ___________________________________________________________ */
/*                          Tablet                             */
/* ___________________________________________________________ */
/* ___________________________________________________________ */

@media(min-width:768px){

}

/* ___________________________________________________________ */
/* ___________________________________________________________ */
/*                          PC                                 */
/* ___________________________________________________________ */
/* ___________________________________________________________ */

@media(min-width:1180px){
    .movil-tablet{
        display: none;        
    }

    .Dekstop{
        display: grid;
        grid-template-columns: 2fr;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--FondoPrincipal);
        height: 100vh;
        width: 100vw;
        
    }
    /* _________________ */
    /*      Header       */
    /* _________________ */
    .header{
        display: flex;
        background-color: var(--FondoSecundario);
        position: fixed;
        height: 15vh;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        gap: 25%;
        z-index: 1;
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 40%;
        height: 28%;
    }
    .input-search{
        height: 100%;
        width: 70%;
        background-color: var(--ColorBotonesDeAccionGris);
        border: 1px var(--ColorBotonesDeAccionDorado) solid;
        border-radius: 5px;
        padding-left: 10px;
        color: var(--ColorLetra);
    }
    .input-search::placeholder{
        filter: drop-shadow(1px 0px 0px var(--ColorLetra));
    }
    .input-search:focus{
        outline: none;
    }
    .boton-search{
        height: 100%;
        width: 6.5%;
        background-color: var(--ColorBotonesDeAccionGris);
        border: 1px var(--ColorBotonesDeAccionDorado) solid;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s;
    }
    .boton-search:hover{
        background-color: var(--ColorBotonesDeAccionDorado);
        box-shadow: var(--ColorBotonesDeAccionDorado) 0 0 10px;
    }
    .bx-search-big{
        color: var(--ColorBotonesDeAccionDorado);
        font-size: 1.3rem;
    }
    

    
    .contenedor-logo-ubicacion-configuracion{
        display: flex;
        height: 100%;
        width: 20%;
        justify-content: space-between;
        align-items: center;
    }
    .Logo{
        height: 70%;
        width: 30%;
        background-image: url(../imagenes/logo_Juan_Fax-removebg-preview\ \(1\)\ 2\ \(1\).png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .ubicacion{
        display: flex;
        height: 28%;
        width: 25%;
        background-color: var(--ColorBotonesDeAccionGris);
        border: 1px var(--ColorBotonesDeAccionDorado) solid;
        border-radius: 5px;
        transition: 0.1s;
        justify-content: center;
        align-items: center;
    }
    .bx-map{
        color: var(--ColorBotonesDeAccionDorado);
        font-size: 1.3rem;
    }
    .configuracion{
        display: flex;
        height: 28%;
        width: 13%;
        background-color: var(--ColorBotonesDeAccionGris);
        border: 1px var(--ColorBotonesDeAccionDorado) solid;
        border-radius: 5px;
        transition: 0.1s;
        justify-content: center;
        align-items: center;
    }
    .bx-cog{
        color: var(--ColorBotonesDeAccionDorado);
        font-size: 1.3rem;
    }

    .ubicacion:hover{
        background-color: var(--ColorBotonesDeAccionDorado);
        box-shadow: var(--ColorBotonesDeAccionDorado) 0 0 10px;
        color: var(--ColorLetra);
    }
    .configuracion:hover{
        background-color: var(--ColorBotonesDeAccionDorado);
        box-shadow: var(--ColorBotonesDeAccionDorado) 0 0 10px;
        color: var(--ColorLetra);
    }
    /* _______________ */
    /*      Hero       */
    /* _______________ */
    .hero{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 50vh;
            width: 100vw;
            background-color: var(--FondoSecundario);
            align-self: center;
            justify-self: center;
            margin-top: var(--margenEntreSecciones);
        }
        .contenedorHero{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 90%;
        }
        .boton-hero{
            height: 10%;
            width: 2.5%;
            color: white;
            background-color: var(--ColorBotonesDeAccionGris);
            border: 1px var(--ColorBotonesDeAccionDorado) solid;
            border-radius: 5px;
            transition: 0.1s;
        }
        .boton-hero:hover{
            /* background-color: var(--ColorBotonesDeAccionDorado); */
            box-shadow: var(--ColorBotonesDeAccionDorado) 0 0 10px;
            color: var(--ColorLetra);
        } 
        
        .banner-hero{
            height: 60%;
            width: 18%;
            background-color: var(--FondoPrincipal);
            border: 1px var(--ColorBotonesDeAccionDorado) solid;
            transition: 0.1s;
        }
        .banner-hero:hover{
            /* background-color: rebeccapurple;  */
            margin-bottom: 5%; 
            box-shadow:var(--ColorBotonesDeAccionDorado) 0 0 12px;
        } 
        /* _________________ */
        /*    SECCIONES      */
        /* _________________ */
        /* * {
            outline: 1px solid red;
        } */
        .turismo-desktop{
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin-top: var(--margenEntreSecciones);
            /* background-color: var(--FondoSecundario); */
            background-image: url(../imagenes/Gemini_Generated_Image_fm1x4lfm1x4lfm1x-removebg-preview\ 1.png);
            background-repeat: no-repeat;
            background-position: center;
            
        }
        .titulo-turismo-desktop{
            width: 100vw;
            /* background-color: red; */
            text-align: center;
            color: var(--ColorLetra);
        }
        .expanding-card{
            background-color: var(--FondoSecundario);
            border: 1px var(--ColorBotonesDeAccionDorado) solid;
            height: 28vh;
            width: 5vw;
            margin-top: 10px;
            transition: 0.5s;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .targets-expanding{
            /* display: none; */
            height: 80%;
            width: 15%;
            background-color: white;
        }
        .cardExpandida{
            width: 90vw;
        }
        /*
        .expanding-card:hover .targets-expanding{
            display: flex;
        } */

        .turismo-desktop .expanding-card:nth-child(3){
            align-self: flex-end;
        }

        .footer{
            height: 45vh;
            width: 100vw;
            background-color: var(--FondoSecundario);
            margin-top: 7%;
        }
    }
    
::-webkit-scrollbar{
    display: none;
}


